<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC Client App</title>
    <link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
</head>
<body>
<nav class="flex item-center justify-between flex-wrap bg-slate-800 text-white p-6">
    <div class="font-semibold text-xl">MVC Client App</div>
</nav>

<div class="container p-3 mx-5 my-3">
    <main role="main">
        @RenderBody()
    </main>
</div>

</body>
</html>
